<main
  class="card shadow-xl max-w-screen-md mx-auto mt-24 bg-neutral text-neutral-content"
>
  <div class="card-body">
    <h2 class="card-title text-3xl font-bold">{{ pekerja.Nama }}</h2>
    <div class="mt-4 grid grid-cols-3">
      <img
        src="{{ pekerja.LinkFoto }}"
        alt="Profile Picture"
        class="rounded-full m-6 w-32 h-32 border-4 border-primary"
      />

      <div>
        <p><strong>Jenis Kelamin:</strong> {{ pekerja.JenisKelamin }}</p>
        <p><strong>No HP:</strong> {{ pekerja.NoHP }}</p>
        <p><strong>Tanggal Lahir:</strong> {{ pekerja.TglLahir }}</p>
        <p><strong>Alamat:</strong> {{ pekerja.Alamat }}</p>
        <p><strong>Saldo MyPay:</strong> Rp{{ pekerja.SaldoMyPay }}</p>
        <p><strong>Nama Bank:</strong> {{ pekerja.NamaBank }}</p>
        <p><strong>No Rekening:</strong> {{ pekerja.NomorRekening }}</p>
      </div>

      <div>
        <p><strong>NPWP:</strong> {{ pekerja.NPWP }}</p>
        <p><strong>Rating:</strong> {{ pekerja.Rating }}</p>
        <p><strong>Kategori Pekerjaan:</strong></p>
        <ol class="list-decimal ml-4">
          <li>Kategori Jasa 1</li>
          <li>Kategori Jasa 2</li>
        </ol>
      </div>
    </div>

    {{#if isSelf}}
    <div class="card-actions justify-end mt-4">
      <button
        class="btn btn-primary"
        onclick="updateModal.showModal()"
      >Update</button>
    </div>

    <dialog id="updateModal" class="modal">
      <div class="modal-box" method="POST" onsubmit="console.log('update!')">
        <form method="dialog">
          <button
            class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
          >✕</button>
        </form>

        <form method="POST" action="/profile/pekerja/{{ pekerja.Id }}">
          <h3 class="text-xl font-bold">Update Data</h3>

          <label class="form-control">
            <div class="label">
              <span class="label-text">Nama</span>
            </div>
            <input
              value="{{ pekerja.Nama }}"
              name="nama"
              type="text"
              class="input input-bordered bg-neutral"
            />
          </label>

          <label class="form-control">
            <div class="label">
              <span class="label-text">Jenis Kelamin</span>
            </div>
            <div>
              <input
                {{#if (eq pekerja.JenisKelamin "L")}}checked{{/if}}
                type="radio"
                name="jenisKelamin"
                id="l"
                value="L"
              />
              <label for="l">Laki-laki</label>
            </div>
            <div>
              <input
                {{#if (eq pekerja.JenisKelamin "P")}}checked{{/if}}
                type="radio"
                name="jenisKelamin"
                id="p"
                value="P"
              />
              <label for="p">Perempuan</label>
            </div>
          </label>

          <label class="form-control">
            <div class="label">
              <span class="label-text">No HP</span>
            </div>
            <input
              value="{{ pekerja.NoHP }}"
              name="phone"
              type="text"
              class="input input-bordered bg-neutral"
            />
          </label>

          <label class="form-control">
            <div class="label">
              <span class="label-text">Tanggal Lahir</span>
            </div>
            <input
              value="{{ pekerja.TglLahir }}"
              name="dob"
              type="text"
              class="input input-bordered bg-neutral"
            />
          </label>

          <label class="form-control">
            <div class="label">
              <span class="label-text">Alamat</span>
            </div>
            <input
              value="{{ pekerja.Alamat }}"
              name="address"
              type="text"
              class="input input-bordered bg-neutral"
            />
          </label>

          <label class="form-control">
            <div class="label">
              <span class="label-text">Nama Bank</span>
            </div>
            <select name="bank" class="select select-bordered bg-neutral" required>
              <option {{#if (eq pekerja.NamaBank "GoPay")}}selected{{/if}}>GoPay</option>
              <option {{#if (eq pekerja.NamaBank "OVO")}}selected{{/if}}>OVO</option>
              <option {{#if (eq pekerja.NamaBank "Virtual Account BCA")}}selected{{/if}}>Virtual Account BCA</option>
              <option {{#if (eq pekerja.NamaBank "Virtual Account BNI")}}selected{{/if}}>Virtual Account BNI</option>
              <option {{#if (eq pekerja.NamaBank "Virtual Account Mandiri")}}selected{{/if}}>Virtual Account Mandiri</option>
            </select>
          </label>

          <label class="form-control">
            <div class="label">
              <span class="label-text">No Rekening</span>
            </div>
            <input
              value="{{ pekerja.NomorRekening }}"
              name="norek"
              type="text"
              class="input input-bordered bg-neutral"
            />
          </label>

          <label class="form-control">
            <div class="label">
              <span class="label-text">NPWP</span>
            </div>
            <input
              value="{{ pekerja.NPWP }}"
              name="npwp"
              type="text"
              class="input input-bordered bg-neutral"
            />
          </label>

          <label class="form-control">
            <div class="label">
              <span class="label-text">URL Foto</span>
            </div>
            <input
              value="{{ pekerja.LinkFoto }}"
              name="url"
              type="text"
              class="input input-bordered bg-neutral"
            />
          </label>

          <div class="modal-action">
            <button class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </dialog>
    {{/if}}
  </div>
</main>
