<main class="card shadow-xl max-w-screen-lg mx-auto my-24 bg-neutral text-neutral-content p-6 space-y-8 flex items-center justify-center">
    <form method="POST" id="pesan" class="modal-box">
        {{#if errDiskon}}
            <div role="alert" class="alert alert-error rounded-lg">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 shrink-0 stroke-current"
                    fill="none"
                    viewBox="0 0 24 24">
                    <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>Diskon {{kode}} tidak ditemukan, tidak sesuai syarat, atau sudah tidak berlaku</span>
            </div>
        {{/if}}
        {{#if sucDiskon}}
            <div role="alert" class="alert alert-success rounded-lg">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 shrink-0 stroke-current"
                fill="none"
                viewBox="0 0 24 24">
                <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>Diskon {{kode}} berhasil digunakan</span>
            </div>
        {{/if}}
        <h3 class="text-xl font-semibold mb-4 text-center">Order Service</h3>
        <div class="form-control mb-4">
            <label for="tanggal" class="label">
                <span class="label-text">Order Date</span>
            </label>
            <input type="date" id="tanggal" name="tanggal" class="input input-primary" required>
        </div>
        <div class="form-control mb-4">
            <label for="diskon" class="label">
                <span class="label-text">Discount Code</span>
            </label>
            <input type="text" id="diskon" name="diskon" class="input input-primary" value="{{kode}}">
        </div>
        <div class="form-control mb-4">
            <label for="paymentMethod" class="label">
                <span class="label-text">Payment Method</span>
            </label>
            <select id="bayar" name="bayar" class="select select-primary" required>
                <option value="" disabled selected>Select a method</option>
                {{#each metodeBayar}}
                    <option value="{{this.Id}}">{{this.Nama}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-control mb-4">
            <p><strong>Total Payment:</strong> Rp {{hargaDisplay}}</p>
            <input type="hidden" id="harga" name="harga" value="{{harga}}">
        </div>
        <div class="modal-action flex items-center justify-center gap-4">
            <button class="btn btn-primary">Order</button>
            <button id="cekDiskon" type="button" class="btn">Cek Diskon</button>
            <button class="btn" type="button" onclick="window.location.href = '/subkategori/{{idsub}}'">Cancel</button>
        </div>
    </form>

    <script>
        const idsub = "{{idsub}}";
        const sesi = "{{sesi}}";
        document.getElementById("cekDiskon").addEventListener("click", () => {
            const kodeDiskon = document.getElementById("diskon").value;

            if (kodeDiskon === "") {
                window.location.href = `/subkategori/${idsub}/${sesi}/diskon`;
                return;
            }

            const params = new URLSearchParams();
            params.set("d", kodeDiskon);

            const queryString = params.toString();
            const url = `/subkategori/${idsub}/${sesi}/diskon?${queryString}`;

            window.location.href = url;
        });

        document.getElementById("pesan").addEventListener("submit", (e) => {
            e.preventDefault();

            const currentDate = new Date().toISOString().split("T")[0];
            const selectedDate = new Date(document.getElementById("tanggal").value).toISOString().split("T")[0];
            if (selectedDate < currentDate) {
                alert("Order date tidak sesuai");
                return;
            }

            document.getElementById("pesan").submit();
        });
    </script>
</main>
