<main
  class="card shadow-xl max-w-screen-xl mx-auto my-24 bg-neutral text-neutral-content"
>
  <div class="flex w-full flex-col">
    <div class="stats mx-2 my-2 shadow-xl grid grid-cols-[2fr_2fr_1fr]">
      
      <div class="stat py-5 items-center">
        <div class="stat-title">Nomor Telepon</div>
        <div class="stat-value">{{ userDetails.NoHP }}</div>
      </div>

      <div class="stat py-5 items-center">
        <div class="stat-title">Account balance</div>
        <div class="stat-value">Rp {{ userDetails.SaldoMyPay }}</div>
      </div>

      <div class="stat place-items-center py-5 items-center">
        <a
          href="/mypay/transaction"
          class="btn btn-outline btn-primary"
        >Transaksi</a>
      </div>

    </div>

    <div class="divider"></div>

    <div class="card card-body mx-auto bg-base-100 shadow-xl">
      <h2 class="stat-value">Riwayat Transaksi</h2>
    </div>

    <ul class="menu menu-lg rounded-box">
      <li>
        {{#if transactionHistory.length}}
        <ul>
          {{#each transactionHistory}}
          <li>
            <div
              class="bg-base-100 shadow-xl my-1 grid grid-cols-[2fr_1fr_1fr] items-center gap-4 p-4"
            >
              <h2 class="card-title">Rp {{ Nominal }}</h2>
              <p class="text-left text-xs">{{ Tgl }}</p>
              <div class="badge badge-outline">{{ Nama }}</div>
            </div>
          </li>
          {{/each}}
        {{else}}
        <li>
          <div
            class="bg-base-100 shadow-xl my-1 flex items-center justify-center gap-4 p-4 text-center"
          >
            <h2 class="card-title">Tidak ada transaksi yang tercatat</h2>
          </div>
        </li>
        {{/if}}
      </li>
    </ul>
  </div>
</main>