<main
  class="card shadow-xl max-w-screen-xl mx-auto mt-24 bg-neutral text-neutral-content p-6 space-y-8"
>
  <div class="flex justify-center">
    <div class="grid grid-cols-3 items-end gap-4 w-full max-w-2xl">
      <!-- Dropdown for "Sub Kategori" -->
      <label for="subkategori" class="form-control">
        <div class="label">
          <span class="label-text">Sub Kategori</span>
        </div>
        <select id="subkategori" name="subkategori" class="select select-primary w-full max-w-xs">
          <option value="" disabled selected>Pilih Sub Kategori</option>
          {{#each sub}}
            <option value="{{this.NamaSubkategori}}">{{this.display}}</option>
          {{/each}}
        </select>
      </label>

      <!-- Dropdown for "Status Pesanan" -->
      <label for="status" class="form-control">
        <div class="label">
          <span class="label-text">Status</span>
        </div>
        <select id="status" name="status" class="select select-secondary w-full max-w-xs">
          <option value="" disabled selected>Pilih Status</option>
          {{#each status}}
            <option value="{{this.Status}}">{{this.Status}}</option>
          {{/each}}
        </select>
      </label>

      <!-- Search Button -->
      <button id="searchButton" class="btn btn-warning">Search</button>
    </div>
  </div>

  <!-- List of cards -->
  <div class="grid grid-cols-1 gap-4 w-full my-6">
    {{#each data}}
      <div class="card shadow-xl bg-base-100 p-4 rounded">
        <div class="grid grid-cols-2 items-center gap-4">
          <div>
            <p class="font-semibold">{{this.NamaSubkategori}}</p>
            <p class="text-sm stat-title p-1">Sesi Layanan: {{this.Sesi}} Jam</p>
            <p class="text-sm stat-title p-1">Harga: Rp {{this.TotalBiaya}}</p>
            <p class="text-sm stat-title p-1">Pekerja: {{this.Nama}}</p>
            <p class="text-sm stat-title p-1">Status: {{this.Status}}</p>
          </div>
          {{#if canBatal}}
            <div class="flex justify-end">
              <button class="btn btn-error text min-w-56">Batalkan</button>
            </div>
          {{/if}}
          {{#if canTestimoni}}
            <div class="flex justify-end">
              <a class="btn btn-success min-w-56" href="/testimoni/{{this.Id}}">Buat Testimoni</a>
            </div>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>

  <script>
    document.getElementById("searchButton").addEventListener("click", () => {
        const subkategoriValue = document.getElementById("subkategori").value;
        const statusValue = document.getElementById("status").value;

        if (subkategoriValue === "" && statusValue === "") {
            window.location.href = "/pemesanan/nyoba";
            return;
        }

        const params = new URLSearchParams();
        params.set("k", subkategoriValue);
        params.set("s", statusValue);

        const queryString = params.toString();
        const url = `/pemesanan/nyoba/?${queryString}`;

        window.location.href = url;
    });
  </script>
</main>
